@font-face{
    font-family:'ProximaNova';
    src:url('../fonts/298CCB_2_0.eot');
    src:url('../fonts/298CCB_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/298CCB_2_0.woff') format('woff'), url('../fonts/298CCB_2_0.ttf') format('truetype')
}

@font-face{
    font-family:'ProximaNova';
    src:url('../fonts/298CCB_0_0.eot');
    src:url('../fonts/298CCB_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/298CCB_0_0.woff') format('woff'), url('../fonts/298CCB_0_0.ttf') format('truetype');
    font-weight:300
}

@font-face{
    font-family:'ProximaNova';
    src:url('../fonts/298CCB_1_0.eot');
    src:url('../fonts/298CCB_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/298CCB_1_0.woff') format('woff'), url('../fonts/298CCB_1_0.ttf') format('truetype');
    font-weight:500
}

@font-face{
    font-family:'ProximaNova';
    src:url('../fonts/298CCB_3_0.eot');
    src:url('../fonts/298CCB_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/298CCB_3_0.woff') format('woff'), url('../fonts/298CCB_3_0.ttf') format('truetype');
    font-weight:bold
}

*,
*:before,
*:after{
    box-sizing:border-box;
}

.clearfix{
    *zoom:1;
}

.clearfix:before,
.clearfix:after{
    display:table;
    line-height:0;
    content:"";
}

.clearfix:after{
    clear:both;
}

html, body{
    font-size:100%;
    background-color:#f7f7f7;
    font-family:Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    margin:0;
}

.box{
    border:1px solid #d9d6d6;
    margin:6px auto;
    max-width:1170px;
    width:100%;
}

.box .box-header{
    font-weight:500;
    font-style:normal;
    background:#f7f7f7;
    background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7));
    background:-webkit-linear-gradient(top, #fff, #f7f7f7);
    background:linear-gradient(top, #fff, #f7f7f7);
    /*text-transform:uppercase;*/
    height:45px;
    font-size:16px;
    border-bottom:1px solid #d9d6d6;
}

.box .box-header .box-header-content{
    padding:12px 20px;
    font-weight:700;
    position:relative;
}

.box .box-content{
    background:#fff;
}

.box.box-breadcrumbs .box-header{
    height:auto;
}

.box.box-breadcrumbs .box-header-content{
    padding:0;
}

.breadcrumbs a{
    position:relative;
    display:inline-block;
    padding:8px 18px 8px 10px;
    font-weight:400;
    font-size:12px;
    color:#a3a9ab;
    text-shadow:0 1px 0 #fff;
    -webkit-transition:300ms color;
    transition:300ms color;
}

.breadcrumbs a:after{
    display:block;
    content:'';
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:20px;
    background:url(../images/breadcrumb.png) no-repeat center right;
}

.breadcrumbs a:hover{
    color:#50b1ff;
    text-decoration:none;
    background:none;
}

tr.e{
    background:#f7f7f7;
}

th, td{
    padding:0.1em 0.5em;
}

th{
    font-family:sans-serif;
    text-align:left;
    font-weight:500;
    background:#eee;
    border-bottom:1px solid #d9d6d6;
}

th > a{
    color:#333;
}

h1{
    font-size:1.5rem;
    color:#333;
    display:none;
}

#list{
    width:100%;
}

td{
    font-size:14px;
    overflow:hidden;
    padding:.15em .5em;
}

td > a{
    color:#555;
    display:block;
}

a{
    text-decoration:none;
}

td > a:visited{
    color:#888;
}

td > a:hover{
    color:#333;
    text-decoration:underline;
}

@media screen and (max-width:1024px){
    tr > td:nth-child(3){
        display:none;
    }

    thead > tr > th:nth-child(3){
        display:none;
    }
}

@media screen and (min-width:1025px){

    /* I C O N S (only on 1024+ px resolutions)
    ~~~~~~~~~~~~*/
    #list td a:before{
        background:url('../icons/file.png') no-repeat left center;
        content:"";
        padding:2px 22px 0 0;
    }

    #list a[href*="."]:after, #list a[href*="/"]:after{
        content:"";
    }

    #list a[href$="../"]{
        position:relative;
    }

    #list a[href$="../"]:before{
        background-image:url('../icons/folder_black.png');
    }


    #list a[href$="../"]:after{
        background:#fff;
        content:"../";
        left:21px;
        position:absolute;
        width:100%;
    }

    #list a[href$="/"]:before, #list a[href*="/?"]:before{
        background-image:url('../icons/folder_black.png');
    }

    /* A P P L I C A T I O N
    ~~~~~~~~~~~~~~~~~~~~~~~~*/
    #list a[href$=".doc"]:before{
        background-image:url('../icons/doc.png');
    }

    #list a[href$=".pdf"]:before{
        background-image:url('../icons/pdf.png');
    }

    #list a[href$=".pgp"]:before{
        background-image:url('../icons/pgp.png');
    }

    #list a[href$=".xml"]:before{
        background-image:url('../icons/xml.png');
    }

    #list a[href$=".xls"]:before{
        background-image:url('../icons/xls.png');
    }

    #list a[href$=".ppt"]:before{
        background-image:url('../icons/ppt.png');
    }

    #list a[href$=".7z"]:before{
        background-image:url('../icons/7z.png');
    }

    #list a[href$=".torrent"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".iso"]:before{
        background-image:url('../icons/iso.png');
    }

    #list a[href$=".cue"]:before, #list a[href$=".bin"]:before{
        background-image:url('../icons/bin.png');
    }

    #list a[href$=".deb"]:before{
        background-image:url('../icons/deb.png');
    }

    #list a[href$=".exe"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".swf"]:before{
        background-image:url('../icons/swf.png');
    }

    #list a[href$=".tgz"]:before, #list a[href$=".tar.gz"]:before,
    #list a[href$=".tar.xz"]:before{
        background-image:url('../icons/tgz.png');
    }

    #list a[href$=".xpi"]:before{
        background-image:url('../icons/xpi.png');
    }

    #list a[href$=".apk"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".bat"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".jar"]:before{
        background-image:url('../icons/jar.png');
    }

    #list a[href$=".pl"]:before{
        background-image:url('../icons/pl.png');
    }

    #list a[href$=".php"]:before{
        background-image:url('../icons/php.png');
    }

    #list a[href$=".rar"]:before{
        background-image:url('../icons/rar.png');
    }

    #list a[href$=".rpm"]:before{
        background-image:url('../icons/rpm.png');
    }

    #list a[href$=".rb"]:before{
        background-image:url('../icons/rb.png');
    }

    #list a[href$=".tar"]:before{
        background-image:url('../icons/tar.png');
    }

    #list a[href$=".zip"]:before{
        background-image:url('../icons/zip.png');
    }

    /* A U D I O
    ~~~~~~~~~~~~*/
    #list a[href$=".m3u"]:before{
        background-image:url('../icons/audio.png');
    }

    #list a[href$=".mpeg"]:before{
        background-image:url('../icons/mpg.png');
    }

    #list a[href$=".wma"]:before{
        background-image:url('../icons/audio.png');
    }

    #list a[href$=".ogg"]:before{
        background-image:url('../icons/ogg.png');
    }

    #list a[href$=".wav"]:before{
        background-image:url('../icons/wav.png');
    }

    #list a[href$=".flac"]:before{
        background-image:url('../icons/audio.png');
    }

    /* I M A G E
    ~~~~~~~~~~~~*/
    #list a[href$=".bmp"]:before, #list a[href$=".svg"]:before{
        background-image:url('../icons/image.png');
    }

    #list a[href$=".gif"]:before{
        background-image:url('../icons/gif.png');
    }

    #list a[href$=".jpg"]:before, #list a[href$=".jpeg"]:before{
        background-image:url('../icons/jpeg.png');
    }

    #list a[href$=".png"]:before{
        background-image:url('../icons/png.png');
    }

    #list a[href$=".tiff"]:before{
        background-image:url('../icons/image.png');
    }

    #list a[href$=".ico"]:before{
        background-image:url('../icons/image.png');
    }

    #list a[href$=".psd"]:before{
        background-image:url('../icons/image.png');
    }

    #list a[href$=".xcf"]:before{
        background-image:url('../icons/image.png');
    }

    /* T E X T
    ~~~~~~~~~~*/
    #list a[href$=".css"]:before{
        background-image:url('../icons/css.png');
    }

    #list a[href$=".htm"]:before, #list a[href$=".html"]:before,
    #list a[href$=".md"]:before{
        background-image:url('../icons/html.png');
    }

    #list a[href$=".txt"]:before, #list a[href$=".json"]:before{
        background-image:url('../icons/txt.png');
    }

    #list a[href$=".csv"]:before{
        background-image:url('../icons/csv.png');
    }

    #list a[href$=".conf"]:before{
        background-image:url('../icons/conf.png');
    }

    #list a[href$=".rtf"]:before{
        background-image:url('../icons/rtf.png');
    }

    #list a[href$=".bak"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".c"]:before{
        background-image:url('../icons/c.png');
    }

    #list a[href$=".cpp"]:before{
        background-image:url('../icons/cpp.png');
    }

    #list a[href~="CHANGELOG"]:before, #list a[href~="COPYING"]:before, #list a[href~="INSTALL"]:before{
        background-image:url('../icons/txt.png');
    }

    #list a[href$=".java"]:before{
        background-image:url('../icons/java.png');
    }

    #list a[href$=".js"]:before{
        background-image:url('../icons/js.png');
    }

    #list a[href$=".h"]:before{
        background-image:url('../icons/c.png');
    }

    #list a[href$=".py"]:before{
        background-image:url('../icons/py.png');
    }

    #list a[href~="README"]:before{
        background-image:url('../icons/txt.png');
    }

    #list a[href$=".sh"]:before{
        background-image:url('../icons/file.png');
    }

    #list a[href$=".sql"]:before{
        background-image:url('../icons/sql.png');
    }

    #list a[href$=".xml"]:before{
        background-image:url('../icons/xml.png');
    }

    /* V I D E O
    ~~~~~~~~~~~~*/
    #list a[href$=".avi"]:before, #list a[href$=".mp4"]:before,
    #list a[href$=".mkv"]:before, #list a[href$=".divx"]:before,
    #list a[href$=".wmv"]:before{
        background-image:url('../icons/video.png');
    }
}

@media screen and (max-width:480px){
    .box{border:0;margin:0;}
    tr,th,td{display:block;}
    tr{position:relative;}
    tr > td:nth-child(2){background:#fff;position:absolute;right:0;top:0;}
    thead > tr > th:nth-child(2){position:absolute;right:0;top:0;}
    th,td{width:auto!important;word-break:break-word;}
}
